html {
    background-color: black;
}

.container{
    width: 1400px;
    height: 700px;
    margin: 10px auto;
    background-color: grey;
    overflow:hidden;
    position: relative;
    cursor: pointer;
}

.first-spot{
    width: 50%;
    height: 100%;
    
    overflow:hidden;
    float: left;
    position:relative;
}
.first-spot .box{
    border: 1px solid black;
    display:none;
    position:absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url("/images/white-siberian.jpg");
    background-size: 100% 100%;
}

.first-spot .hidden-box{
    border: 1px solid black;
    position:absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url("/images/white-siberian.jpg");
    background-size: 100% 100%;
    opacity: 0.3;
}

.first-spot .content{
    display:none;
    position: absolute;
    width: 50%;
    bottom: 10%;
    left: 40%;
    background-color: white;
    padding: 10px;
}


.second-spot{
    width: 50%;
    height: 50%;
    
    float: right;
    
    overflow:hidden;
    position:relative;
}

.second-spot .box{
    position:absolute;
    right: 0px;
    width: 100%;
    height: 100%;
    background-image: url("/images/red-siberian.jpg");
    background-size: 100% 100%;
    border: 1px solid black;
}

.second-spot .hidden-box{
    position:absolute;
    right: 0px;
    width: 100%;
    height: 100%;
    background-image: url("/images/red-siberian.jpg");
    background-size: 100% 100%;
    border: 1px solid black;
    opacity: 0.3;
}

.second-spot .content{
    display:none;
    position: absolute;
    width: 50%;
    bottom: 10%;
    left: 40%;
    background-color: white;
    padding: 10px;
}

.third-spot{
    width: 25%;
    height: 50%;
    
    float: right;
    
    overflow:hidden;
    position:relative;
    
}

.third-spot .box{
    border: 1px solid black;
    display:none;
    position:absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-image: url("/images/small-cat.jpeg");
    background-size: 100% 100%;
}

.third-spot .hidden-box{
    border: 1px solid black;
    position:absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-image: url("/images/small-cat.jpeg");
    background-size: 100% 100%;
    opacity: 0.3;
}

.third-spot .content{
    position: absolute;
    width: 50%;
    bottom: 10%;
    left: 40%;
    background-color: white;
    padding: 10px;
    display:none;
}


.fourth-spot{
    width: 25%;
    height: 50%;
    
    float: right;
    
    overflow:hidden;
    position:relative;
}

.fourth-spot .box{

    position:absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url("/images/snow-cat.jpg");
    background-size: 100% 100%;
    border: 1px solid black;
}

.fourth-spot .hidden-box{
    position:absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url("/images/snow-cat.jpg");
    background-size: 100% 100%;
    border: 1px solid black;
    opacity: 0.3;
}

.fourth-spot .content{
    
    position: absolute;
    width: 50%;
    bottom: 10%;
    left: 40%;
    background-color: white;
    padding: 10px;
    display:none;
}

.hidden div{
    opacity: 0.5;
}

#first-slider{
    right: 0px;
    display:none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/images/tigers.jpg");
    background-size: 100% 100%;
}
#first-slider-content{
    top: 70%;
    right: 0px;
    display:none;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: white;
}
#second-slider{
    right: 0px;
    display:none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/images/siberians.jpg");
    background-size: 100% 100%;
}
#second-slider-content{
    top: 70%;
    right: 0px;
    display:none;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: white;
}
#third-slider{
    right: 0px;
    display:none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/images/kittens.jpg");
    background-size: 100% 100%;
}
#third-slider-content{
    top: 70%;
    right: 0px;
    display:none;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: white;
}
#fourth-slider{
    right: 0px;
    display:none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/images/Pallas_cat.JPG");
    background-size: 100% 100%;
}
#fourth-slider-content{
    top: 70%;
    right: 0px;
    display:none;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: white;
}